@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--Dark-Slate-Grey);
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* Main Section */

main {
   margin-top: auto;
   margin-bottom: auto;
}

article { 
    background-color: white;
    border-radius: 15px;
}

.enter-email-article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}
.enter-email-article .left-section {
    padding: 40px;
    max-width: 350px;
}

.left-section h1 {
    font-size: 34px;
    padding-bottom: 20px;
}

.left-section p {
    font-size: 12px;
    padding-bottom: 20px;
}

.left-section ul {
    font-size: 12px;
    padding-bottom: 20px;
    
}

.left-section ul li {
    /* padding-bottom: 10px;
    padding-left: 10px;
    list-style-image: url(/assets/images/icon-list.svg); */
    background: url('/assets/images/icon-list.svg') no-repeat left center;
    padding: 5px 10px 3px 25px;
    list-style: none;
    margin: 0;
    vertical-align: middle;
}

.icon-list{
    width: 20px;
    height: 20px;
}

.left-section label {
    font-size: 10px;
    
    font-weight: 700;
}

.left-section input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--Grey);
    padding: 10px;
    margin: 5px 0 20px
}

.left-section button {
    position: relative;
    width: 100%;
    height: 40px;
    background: var(--Dark-Slate-Grey);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    z-index: 1;
}

.left-section button:hover {
    background: linear-gradient(90deg, rgba(255,83,119,1) 0%, rgba(255,98,87,1) 100%);
}

.left-section button:hover:before {
    content: "";
  position: absolute;
  margin-top: 20px;
  inset: -4px; /* control the spread */
  transform: translate(2px, 2px); /* control the offsets */
  z-index: -1; /* place the element behind */
  background: linear-gradient(90deg, rgba(255,83,119,0.5) 0%, rgba(255,98,87,0.5) 100%);/* your gradient here */;
  filter: blur(10px); /* control the blur */
}


.enter-email-article section img{
    width: 300px;
    padding: 15px
    
    
}